<%= form_with(model: daily_weather, local: true) do |form| %>
  <% if daily_weather.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_weather.errors.count, "error") %> prohibited this daily_weather from being saved:</h2>

      <ul>
      <% daily_weather.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time %>
  </div>

  <div class="field">
    <%= form.label :temperature %>
    <%= form.text_field :temperature %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
